{% extends "base.html" %}


{% block content %}
<div>
<h1>Survey Form</h1>
<h2>Step 4/8</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form method="POST" action="" enctype='multipart/form-data'>{% csrf_token %}
{{ form.as_p }}
<br/>
<input type='button' class='btn btn-info btn_usr' value='Last' onclick="location.href='{% url 'mc_post_create' %}'"/>
<input type='submit' class='btn btn-primary btn_usr' value='Next' />
<input type='button' class='btn btn-default' value='Cancel' id='ml_cnl_btn'/>
</form>
</div>
{% endblock content %}