{% extends "base.html" %}


{% block content %}
<div style=''>
<h1>Login</h1>
{% if error_message %}<label class="err_msg_lbl"><strong>{{ error_message }}</strong></label>{% endif %}

<form method="POST" action="{% url 'user_login' %}" enctype='multipart/form-data' onSubmit="javascript:return loginValid();">{% csrf_token %}
<label for="username">User Name:</label>
<input class="form-control input-lg usr_max_width" type="text" name="id_username" value="" id="id_username">
<label for="username">Password:</label>
<input class="form-control input-lg usr_max_width" type="password" name="is_password" value="" id="is_password">
<br/>
<label id='login_err_msg_lbl_id' class="err_msg_lbl" style=""></label><br/>
<input type='submit' class='btn btn-primary btn_usr' value='Login' />
</form>
<div class="usr_max_width"><a href="{% url 'online_wel' %}" style="float:right;">Home Page</a></div>
</div>

<script type="text/javascript">
function loginValid(){
	if(!$('#id_username').val()){
		$('#id_username').css({'border': '1px solid red'});
		$('#login_err_msg_lbl_id').html("Username is required.");
		return false;
	}
	else if(!$('#is_password').val())
	{
		$('#is_password').css({'border': '1px solid red'});
		$('#login_err_msg_lbl_id').html("Password is required.");
		return false;
	}
	else{
		$('#id_image').css({'border': ''});
		$('#nm_err_msg_lbl_id').html('');
	}
			
	return true;
}
</script>

{% endblock content %}